* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: aquamarine;
  padding: 5px;
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #A25ADE;
  opacity: 0.8;
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px;
  height: 30px;
  width: 100%;
}

.headLink:hover {
  font-weight: bolder;
  cursor: pointer;
}

.sidebar {
  height: 100vh;
  width: 27vw;
  background-color: #749BDB;
  position: sticky;
  top: 0;
}

.navContainer {
  display: flex;
}

.mainContent {
  background-color: red;
  width: 100%;
  height: 100%;
}

.rightContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
